#logo
{
    background-color: black;
    -moz-border-radius-bottomright: 20px;
    border-bottom-right-radius: 20px;
    height: 120px;
    overflow: hidden;
}

#logo img
{
    margin-top: 50px;
}

#site_nav
{
    margin-bottom:10px;
    background-color: #000;
    -moz-border-radius-bottomleft: 20px;
    border-bottom-left-radius: 20px;
    
}

#site_nav ul
{
    padding-top:55px;
}

#site_nav ul li
{
    font-size: 30px;
    font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: 300;
    margin: 0px 5px 0px 20px;
}

#site_nav li:last-child
{
    margin-left: 360px;
}

#site_nav .search-box
{
    background-color: #aaa;
    border-radius: 10px;
    border: none;
    padding: 3px 3px 3px 6px;
    color: #fff;
    height: 28px;
    
}

ul { 
    margin: 0;
    padding: 5px 5px 20px 5px;
    list-style-type: none;
} 

ul li {  
    display: inline;
} 

#site_nav ul li a {
    text-decoration: none;
    padding: 0;
    color: #fff;
    background-color: #000;
    color: #aaa;
} 

#site_nav ul li a:hover {
    color: #7d74ad;
}

#year_nav
{
    height: 50px;
}
#year_nav ul li a{
    text-decoration: none;
    color: #aaa;
    font-size: 24px;
}

#year_nav ul li:first-child{
    margin-left: 5px;
}


#content
{
    background-color: #eee;
    border-top-left-radius: 20px;
}
div.img
{
    /*margin:2px;*/
    margin-left:5px;
    margin-right:5px;
    margin-top:20px;
    height:228px;
    width:228px;
    overflow: hidden;
    float:left;
    text-align:center;
    padding:0px 22px 10px 0px;
    background-color: white;
    position: relative;
    border-radius: 5px;
}

div.img:hover
{
    opacity: .8;
}
div.img img
{
    display:inline;
    margin:0px;
/*    border:1px solid #ffffff;*/
}
div.img a:hover img
{
/*    border:1px solid #0000ff;*/
}
div.desc
{
    text-align:center;
    font-weight:normal;
    width:240px;
    margin:2px;
}

#alumni_list
{
    margin-top: 20px;
}

#alumni_table_wrapper
{
    width: 920px;
}

#alumni_table td
{
 
}

#bio_title
{
    text-align:center;
    margin-top:20px;
}

#bio_info_box
{
    text-align: left;
}

#project_title
{
    text-align:center;
    margin-top:20px;
}

.year
{
    margin-top: 0px;
}

.year p
{
    writing-mode: tb-rl;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    margin-top:85px;
    font-size: 40px;
}

.details {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.87);
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 0 0 5px 5px;
    border-top: 1px solid #FFFFFF;
    bottom: 0;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.35);
    padding: 5px 10px 10px 10px;
    position: absolute;
    width: 230px;
    height: 12px;
    text-align: left;
}
.details h3 {
    font-weight: 100;
    letter-spacing: -1px;
    margin-bottom: 0;
    margin-top: -7px;
    color: #666;
}
.details a.more {
    background-color: rgba(0, 0, 0, 0.03);
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.15) inset, 0 1px 0 rgba(255, 255, 255, 0.6);
    font-size: 12px;
    padding: 6px 10px;
    position: absolute;
    right: 10px;
    top: 5px;
}
.details a.more:hover {
    background-color: #0090E2;
    color: #FFFFFF;
}