#header h1
{
	text-align:center;
}

#site_nav
{
	margin-bottom:10px;
}

#site_nav ul li
{
	margin: 0px 30px 0px 30px;
}

 ul { 
        margin: 0; 
        padding: 5px; 
        list-style-type: none; 
        text-align: center; 
        background-color: #000; 
        } 
 
ul li {  
        display: inline; 
        } 
 
ul li a { 
        text-decoration: none; 
        padding: .2em 1em; 
        color: #fff; 
        background-color: #000; 
        } 
 
ul li a:hover { 
        color: #000; 
        background-color: #fff; 
        }


#content
{
	width:960px;
	margin:0px auto;
}
div.img
  {
  /*margin:2px;*/
	margin-left:5px;
	margin-right:5px;
	margin-top:20px;
  border:1px solid #000;
  height:auto;
  width:auto;
  float:left;
  text-align:center;
  padding:10px;
  }
div.img img
  {
  display:inline;
  margin:3px;
  border:1px solid #ffffff;
  }
div.img a:hover img
  {
  border:1px solid #0000ff;
  }
div.desc
  {
  text-align:center;
  font-weight:normal;
  width:240px;
  margin:2px;
  }

#alumni_list
{
	margin-top: 20px;
}

#bio_title
{
	text-align:center;
	margin-top:20px;
}

#project_title
{
	text-align:center;
	margin-top:20px;
}

.year p
{
	writing-mode: tb-rl;
	-webkit-transform: rotate(270deg); 
	-moz-transform: rotate(270deg);
	margin-top:130px;
	font-size: 20px;
}